.App-bg {
    height: 40vmin;
    pointer-events: none;
  }

  .Pantalla-principal {
    background-image: url("/public/estrellitas\ fodno.gif");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 100vh; 
    color: #fff; 
}


.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}


.Pantalla-principal {
  position: relative;
  overflow: hidden;
}
