.App-bg {
    height: 40vmin;
    pointer-events: none;
  }

  .Pantalla-principal {
    background-image: url("/public/bg-video.mp4");
    background-size: cover; /* Ajusta la imagen al tamaño completo del contenedor */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    min-height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    color: #fff; /* Color de texto en blanco para mejor contraste */
}

/* Estilos para el fondo de video */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

/* Ajustes adicionales para asegurar que el contenido sea legible sobre el fondo de video */
.Pantalla-principal {
  position: relative;
  overflow: hidden;
}
