.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-first-btn {
  background-color: #a93226; /* Cambia el color del boton */
  color: #fbfcfc ; /* Cambia el color del texto del boton*/
}

.my-first-btn:hover {
  background-color: #920202; /* Efecto de cambio de color del boton al pasar el cursor por encima*/
}

.App-header {
  background-image: url('../public/background_Cronos.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
